player-connection-mode=Listen
player-connection-guid=3729652562
player-connection-debug=0
player-connection-project-name=Spellbound Odyssey
player-connection-ip=192.168.0.130
player-connection-ip=192.168.56.1
player-connection-ip=10.14.0.184
gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=ac07195088c048dba8db614e60970b7e
